{% extends "ap2.j2" %}

{% block summary %}
<p>Bij het beheer van een begraafplaats zijn er verscheidene objecten die geinventariseerd moeten worden. Het gehele Gegevensmodel Openbaar Domein is niet noodzakelijk, daarom kan men een apart applicatieprofiel voorzien die de nodige objecten binnen het Gegevensmodel Openbaar Domein samenneemt die relevant zijn voor het beheer van begraafplaatsen.</p>
{% endblock %}
