{% extends "oj3.j2" %}

{% block summary %}
<p>Het applicatieprofiel onbegroeid voorkomen is een uitbreiding op het generiek object FysiekVoorkomen. Het onbegroeid voorkomen beschrijft de fysieke aard van het oppervlak en omvat alle niet vegetatieve oppervlakken. Naast de uitbreiding onbegroeid voorkomen zijn er ook nog de uitbreidingen begroeid voorkomen en watervoorkomen die ook afgeleid zijn van het generieke object FysiekVoorkomen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="html/boom.js"></script>
{% endblock %}

