{% extends "oj4.j2" %}

{% block summary %}
<p>Het applicatieprofiel Onbegroeid Voorkomen is een uitbreiding op het generiek object Fysiek Voorkomen. Het applicatieprofiel Onbegroeid Voorkomen beschrijft de fysieke aard van het oppervlak en omvat alle niet vegetatieve oppervlakken. Naast de uitbreiding Onbegroeid Voorkomen zijn er ook nog de uitbreidingen Begroeid Voorkomen en Watervoorkomen die ook afgeleid zijn van het generieke object Fysiek Voorkomen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="{{ data.metadata.documentroot }}/html/boom.js"></script>
{% endblock %}

