{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel Terreindeel is een uitbreiding van het generieke object Deel. De objecten onder Terreindeel omvatten de functie of het doel van het Deel. Dit is naast het Fysiek Voorkomen (met uitbreidingen Begroeid Voorkomen en Onbegroeid Voorkomen) van een Deel, waar de fysieke eigenschappen van het aardoppervlak worden gegeven. De uitbreiding Terreindeel bevat niet de Delen die bestaan uit een wateroppervlak, deze zijn vervat onder de uitbreiding Waterdelen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="{{ documentroot }}/html/boom.js"></script>
{% endblock %}

