{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel Begraafplaatsen is een voorbeeld van een uitbreiding op het Gegevensmodel Openbaar Domein. Verscheidene objecten gerelateerd aan begraafplaatsen zijn toegevoegd aan de bestaande objecten uit de verscheidene catalogi en zijn afgeleid van objecten uit het Conceptueel Gegevensmodel.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="{{ documentroot }}/html/boom.js"></script>
{% endblock %}
