{% extends "oj3.j2" %}

{% block summary %}
<p>Het applicatieprofiel Waterdelen is een uitbreiding van het generieke object Deel en omvat de verscheidene types wateroppervlakken op het openbaar domein. Dit kunnen waterlopen en watervlakken zijn. Dit is naast het Watervoorkomen dat een uitbreiding is van het generieke object Fysiek Voorkomen waar de fysieke eigenschappen van het wateroppervlak worden gegeven.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="{{ documentroot }}/html/boom.js"></script>
{% endblock %}

