{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel Gebieden bevat objecten die een ruimtelijke geheel aan objecten in de openbare ruimte vormen. Dit geheel heeft een hoofdfunctie. De uitbreiding Gebieden is in tegenstelling tot de meeste uitbreidingen geen afgeleide van het generieke object Object, maar is een op zichzelf staande instantie.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="{{ documentroot }}/html/boom.js"></script>
{% endblock %}

