{% extends "voc2_en.j2" %}

{% extends block summary %}
<p>The vocabulary {{ metadata.title[language] }} defines a number of thematic entities and properties in addition to the <a href="/cms/public domain/">Public Domain conceptual data model</a>.</p>
{% endblock %}
