{% extends "voc2_es.j2" %}

{% block summary %}
<p>El vocabulario {{ metadata.title[language] }} define una serie de entidades y propiedades temáticas además del <a href="/cms/public domain/">modelo de datos conceptuales de dominio público</a>.</p>
{% endblock %}
