{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium {{ metadata.title[language] }} definieert thematische entiteiten en eigenschappen voor het beschrijven en inventariseren van fysieke objecten op het openbaar domein.</p>
{% endblock %}


