{% extends "voc2_en.j2" %}

{% block summary %}
TODO TRANSLATION
<p>Het vocabularium {{ metadata.title[language] }} definieert een aantal thematische entiteiten en eigenschappen als aanvulling op het <a href="/cms/openbaardomein/">conceptueel gegevensmodel Openbaar Domein</a>.</p>
{% endblock %}
